<div bsModal #addPageModal="bs-modal" class="modal fade draggable-modal" id="add-page" tabindex="-1" role="basic"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        (click)="hideAddPageModal()"></button>
                <h4 class="modal-title">Create New Page</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" (ngSubmit)="addPage(addPageForm)" #addPageForm="ngForm" novalidate>
                    <div class="form-body">
                        <div class="form-group" [ngClass]="{ 'has-error': addPageForm.submitted && !pageName.valid }">
                            <label for="pageName" class="col-md-4 control-label">Page Name</label>
                            <div class="col-md-7">
                                <input type="text" name="pagename" id="pageName" class="form-control"
                                       [(ngModel)]="model.pageName" #pageName="ngModel" required>
                                <small [hidden]="pageName.valid || (pageName.pristine && !addPageForm.submitted)"
                                       class="text-danger">
                                    Page Name is required
                                </small>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="pageTypes?.length > 0"
                             [ngClass]="{ 'has-error': addPageForm.submitted && !pageType.valid }">
                            <label class="col-md-4 control-label">Page type</label>
                            <div class="col-md-7">
                                <select class="bs-select form-control" name="pageType"
                                        data-style="btn-primary"
                                        (change)="getDependentQuestionType($event.target.value)"
                                        [(ngModel)]="model.pageType" #pageType="ngModel" required>
                                    <option value="0">--Select Page--</option>
                                    <option *ngFor="let type of pageTypes" [value]="type['ID']">
                                        {{type['DisplayName']}}
                                    </option>
                                </select>
                                <small [hidden]="pageType.valid || (pageType.pristine && !addPageForm.submitted)"
                                       class="text-danger">
                                    Page Type is required
                                </small>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="questionType?.length > 0"
                             [ngClass]="{ 'has-error': addPageForm.submitted && !question.valid }">
                            <label class="col-md-4 control-label">Question type</label>
                            <div class="col-md-7">
                                <select class="bs-select form-control" name="question"
                                        data-style="btn-primary" [(ngModel)]="model.question" #question="ngModel"
                                        required>
                                    <option *ngFor="let type of questionType" [value]="type['ID']">
                                        {{type['DisplayName']}}
                                    </option>
                                </select>
                                <small [hidden]="question.valid || (question.pristine && !addPageForm.submitted)"
                                       class="text-danger">
                                    Question Type is required
                                </small>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="subPageType?.length > 0"
                             [ngClass]="{ 'has-error': addPageForm.submitted && !subPage.valid }">
                            <label class="col-md-4 control-label">Sub page type</label>
                            <div class="col-md-7">
                                <select class="bs-select form-control" name="subPage"
                                        data-style="btn-primary" [(ngModel)]="model.subPage" #subPage="ngModel">
                                    <option *ngFor="let type of subPageType" [value]="type['ID']">
                                        {{type['DisplayName']}}
                                    </option>
                                </select>
                                <small [hidden]="subPage.valid || (subPage.pristine && !addPageForm.submitted)"
                                       class="text-danger">
                                    SubPage is required
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark blue" (click)="hideAddPageModal()">Cancel
                        </button>
                        <button type="submit" class="btn green" [disabled]="!addPageForm.valid">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
