<div class="grouping-tree">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <a>Answer Settings</a>
            </div>
            <div class="tools">
                <a (click)="toggleAnswerSetting()"
                   [ngClass]="answerSettingsCollapse ? 'expand round-btn': 'collapse round-btn'"> </a>

            </div>
        </div>
        <div class="portlet-body" *ngIf="answerSettingsCollapse">
        </div>
    </div>
</div>
