<div class="add-new-page">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <a data-toggle="modal" (click)="addPageModal.showAddPageModal()"> <i class="fa fa-plus round-btn-plus"></i> Add New
                    Page</a>
            </div>
            <div class="tools">
                <a (click)="togglePageList()" [ngClass]="pageListCollapse ? 'expand round-btn': 'collapse round-btn'"> </a>
            </div>
        </div>
        <div class="portlet-body" *ngIf="pageListCollapse">
            <cfm-page-thumbnail *ngFor="let page of pageList" [pageId]="page.pageId" [pageName]="page.pageName"></cfm-page-thumbnail>
    </div>
</div>
<cfm-add-page #addPageModal></cfm-add-page>

