<div class="grouping-tree">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-folder-open-o"></i>Grouping
            </div>
            <div class="tools">
                <a (click)="toggleGroupList()" [ngClass]="groupListCollapse ? 'expand': 'collapse'"> </a>

            </div>
        </div>
        <div class="portlet-body" *ngIf="groupListCollapse">
            <cfm-page-thumbnail [pageId]="2" [pageName]="'group'"></cfm-page-thumbnail>
        </div>
    </div>
</div>
