<div class="grouping-tree">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
               <a> <i class="fa fa-folder-open-o round-btn-folder"></i>Grouping</a>
            </div>
            <div class="tools">
                <a (click)="toggleGroupList()" [ngClass]="groupListCollapse ? 'expand round-btn': 'collapse round-btn'"> </a>

            </div>
        </div>
        <div class="portlet-body" *ngIf="groupListCollapse">
            <div class="portlet-body">
                <tree-root [nodes]="nodes"></tree-root>
            </div>
        </div>
    </div>
</div>
