<div class="add-new-page">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <a data-toggle="modal" href="#add-page">
                    Page Settings</a>
            </div>
            <div class="tools">
                <a class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="caption"><h4>General</h4></div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Active</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">View</label>
                <div class="col-md-6 nopadding right-align">
                    <select class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Show progress bar with___%</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="text" class="form-control" placeholder="Slider">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Auto-Proceed</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Routing</label>
                <div class="col-md-6 nopadding right-align">
                    <select class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Show next button</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Show previous button</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Required to fill</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Status</label>
                <div class="col-md-6 nopadding right-align">
                    <select class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
            </div>

            <div class="caption"><h4>Others</h4></div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">NA option<br>
                    <span>(editable)</span></label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">No. of respondents</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="text" class="form-control" placeholder="12345">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Skip after this no. of respondents</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="text" class="form-control" placeholder="12345">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">% of respondents that see question</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="text" class="form-control" placeholder="12345">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Error message</label>
                <div class="col-md-6 nopadding right-align">
                    <input type="checkbox" checked class="make-switch" id="test" data-size="mini">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label nopadding">Message
                </label>
                <div class="col-md-6 nopadding right-align">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>

        </div>
    </div>

</div>
