<div class="add-new-page">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <a data-toggle="modal" (click)="togglePageSetting()">
                    Page Settings
                </a>
            </div>
            <div class="tools">
                <a [ngClass]="pageSettingsCollapse ? 'expand round-btn': 'collapse round-btn'"> </a>
            </div>
        </div>
        <div class="portlet-body" *ngIf="pageSettingsCollapse">
        </div>
    </div>

</div>
