<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu page-header-fixed  {{!sidebarToggleFlag ? 'page-sidebar-menu-closed': ''}}">
        <li class="sidebar-search-wrapper">
            <form class="sidebar-search">
                <a class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
        </li>
        <li class="nav-item {{menu.Children != null && opened[i] ? 'open': ''}}"
            *ngFor="let menu of menuItems; let i = index;">
            <a *ngIf="menu.Children == null || menu.Children.length == 0" [routerLink]="menu.Route ? menu.Route : null">
                <i *ngIf="menu.IconClass != null" class="{{ menu.IconClass }}"></i>
                <img *ngIf="menu.IconSource != null" alt="" src="{{menu.IconSource}}">
                <span class="title">{{menu.Name}}</span>
            </a>

            <a *ngIf="!(menu.Children == null || menu.Children.length == 0)" class="nav-link nav-toggle">
                <i *ngIf="menu.IconClass != null" class="{{ menu.IconClass }}"></i>
                <img *ngIf="menu.IconSource != null" alt="" src="{{menu.IconSource}}">
                <span class="title">{{menu.Name}}</span>
                <span class="arrow {{menu.Children != null && opened[i] ? 'open': ''}}"
                      (click)="opened[i]=!opened[i];"></span>
            </a>
            <ul class="sub-menu"
                *ngIf="menu.Children != null && menu.Children.length > 0"
                [cfm-sub-menu]="menu.Children">
            </ul>
        </li>
    </ul>
</div>
