<div class="page-wrapper page-header-fixed page-sidebar-closed-hide-logo page-content-white {{flag ? 'page-sidebar-closed': ''}}">
    <app-header (addToggleClass)="sideMenuToggle($event)"></app-header>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <app-side-bar></app-side-bar>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
