<div>
    <tabset>
        <tab heading="Questionnaire">
            <button (click)="toggleMenu()" class="hamburger">
                <span>toggle menu</span>
            </button>
        <cfm-page-list-slider [@slideInOut]="menuState"></cfm-page-list-slider>
        </tab>
        <tab heading="Scores">Scores</tab>
        <tab heading="Test & Publish">Static content 2</tab>
        <tab heading="Overlay">Overlay</tab>
        <tab heading="Template">Template</tab>
        <tab>
            <template tabHeading>
                <i class="glyphicon glyphicon-bell"></i> Alert!
            </template>
            I've got an HTML heading, and a select callback. Pretty cool!
        </tab>
    </tabset>
</div>
