<div id="questionnaire-wrapper " class="row outer-container">
    <cfm-page-list-slider></cfm-page-list-slider>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div id="questionnaire-content">

                    <div class="container-fluid">
                        <cfm-questionnaire-top-menu></cfm-questionnaire-top-menu>
                        <div class="middle-content">
                        <cfm-questionnaire-main></cfm-questionnaire-main>
                        </div>
                        <div class="footer-view-icons"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <cfm-settings-slider></cfm-settings-slider>
        <div class="col-sm-12">
            <div class="mobile-preview pull-right">
                <h4>
                    Preview In
                    <a class="btn btn-circle btn-icon-only blue"><i class="fa fa-mobile fa-2x"
                                                                    aria-hidden="true"></i></a>
                    <a class="btn btn-circle btn-icon-only blue"><i class="fa fa-tablet fa-2x"
                                                                    aria-hidden="true"></i></a>
                    <a class="btn btn-circle btn-icon-only blue"><i class="fa fa-desktop fa-lg" aria-hidden="true"></i></a>
                </h4>
            </div>
        </div>
    </div>

</div>

