<div class="mt-element-overlay">
    <div class="row">
        <div class="col-md-12">
            <div class="caption pull-left"><h4>Page 1</h4></div>
            <div class="action pull-right">
                <a class="btn btn-circle btn-icon-only btn-outline green" href="javascript:;">
                    <i class="fa fa-files-o" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-outline green" href="javascript:;">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="mt-overlay-1">
                <img src="../../../../../../../assets/layouts/layout/img/search.jpg"/>
                <div class="mt-overlay">
                    <ul class="mt-info">
                        <li>
                            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<hr/>
