<div>
  <h1 class="page-title">Project</h1>
  <div class="note note-info">
    <p> A black page template with a minimal dependency assets to use as a base for any custom page you create </p>
  </div>

  <div class="portlet-box center-block">
    <div class="round-button1 center-block has-success">
      <div class="round-button-circle1">
        <a [routerLink]="['/project/add']" class="round-button1"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
      <span class="help-block"><b>Add New Project</b></span>
    </div>
  </div>
</div>