<div>
    <h1 class="page-title no-top-margin">Project</h1>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        General Settings
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only blue">
                            <i class="fa fa-floppy-o"></i>
                        </a>

                        <a class="btn btn-circle btn-icon-only red" (click)="modal.showDeleteProjectModal()">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form (ngSubmit)="onSubmit(generalForm)" #generalForm="ngForm" novalidate>
                        <div class="form-body">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" [ngClass]="name.value ? 'form-control edited': 'form-control'"
                                       id="name" ngModel name="name"
                                       required
                                       #name="ngModel">
                                <label for="name">Name<span class="text-danger"> *</span></label>
                            </div>
                            <small [hidden]="name.valid || (name.pristine && !generalForm.submitted)"
                                   class="text-danger">
                                Name is required
                            </small>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <textarea [ngClass]="description.value ? 'form-control edited': 'form-control'" rows="2"
                                          id="description"
                                          ngModel name="description" #description="ngModel">
                                </textarea>
                                <label for="description">Description</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <select class="form-control edited" id="projectType" ngModel name="projectType"
                                        required (change)="getDependentFields($event.target.value)">
                                    <option *ngFor="let type of types" [value]="type['ID']">{{type['DisplayName']}}
                                    </option>
                                </select>
                                <label for="projectType">Type<span class="text-danger"> *</span></label>

                            </div>
                            <p><i>Note: Once the project is created, the <strong>type of modes</strong> can't be changed.</i></p>

                            <div class="form-group" *ngIf="modes.length > 0">
                                <label>Modes</label>
                                <div class="mt-checkbox-inline">
                                    <label class="mt-checkbox" *ngFor="let mode of modes; let i = index">
                                        <input type="checkbox"
                                                name="mode"
                                               [checked]="mode['status'] == true"
                                               value="{{mode['name']}}"
                                               required (change)="selectModeCheckbox($event.target.value)"
                                        >{{mode['name']}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="scoreSettingAvailable">
                                <label class=""><strong>Score Setting</strong> </label>
                                <div class="pull-right">
                                    <bSwitch
                                        [switch-base-class]="'bootstrap-switch'" ngModel name="score">
                                    </bSwitch>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="form-actions right1">
                            <button type="submit" class="btn blue pull-right" [disabled]="!generalForm.valid">Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="round-button  center-block has-success">
                <div class="round-button-circle"><a [routerLink]="['/project']" class="round-button"><i
                    class="fa fa-plus" aria-hidden="true"></i></a></div>
                <span class="help-block" style="margin:10px 0;"><b>Add new widget</b></span>
            </div>
        </div>
    </div>
</div>
<cfm-delete-project #modal></cfm-delete-project>
