<div class="grouping-tree">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <a> Question Settings</a>
            </div>
            <div class="tools">
                <a (click)="toggleQuestionSetting()"
                   [ngClass]="questionSettingsCollapse ? 'expand round-btn': 'collapse round-btn'"> </a>

            </div>
        </div>
        <div class="portlet-body" *ngIf="questionSettingsCollapse">
        </div>
    </div>
</div>
