@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../node_modules/ng2-toastr/bundles/ng2-toastr.min.css");
@import url("./styles/layout/layout.min.css");
@import url("./styles/layout/themes/darkblue.min.css");
@import url("./styles/layout/custom.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css");
@import url("./styles/global/components-md.min.css");
@import url("./styles/global/boostrap-switch.css");

.nav-item ul.sub-menu {
    display: none;
}

.nav-item.open > ul.sub-menu {
    display: block;
}

.round-button {
    width: 134px;
    margin-top: 100px;
    text-align: center;
}

.round-button-circle {
    background: #4679bd none repeat scroll 0 0;
    border: 10px solid #cfdcec;
    border-radius: 50%;
    box-shadow: 0 0 3px #808080;
    height: 130px;
    overflow: hidden;
    width: 130px;
}

.round-button-circle:hover {
    background: #30588e;
}

.round-button a {
    color: #e2eaf3;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.round-button1 {
    width: 134px;
    text-align: center;
}

.round-button-circle1 {
    background: #4679bd none repeat scroll 0 0;
    border: 10px solid #cfdcec;
    border-radius: 50%;
    box-shadow: 0 0 3px #808080;
    height: 130px;
    overflow: hidden;
    width: 130px;
}

.round-button-circle1:hover {
    background: #30588e;
}

.round-button1 a {
    color: #e2eaf3;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.page-container .page-content-wrapper .page-content {
    min-height: calc(100vh - 50px - 33px);
}

.portlet-box {
    border: 1px solid grey;
    width: 300px;
    padding: 50px;
    margin-top: 100px;
}

.theme-panel > .toggler, .theme-panel > .toggler-close {
    top: 60px !important;
}

.page-footer .page-footer-inner {
    float: none !important;
}

.page-footer {
    text-align: center !important;
}

.page-logo .logo-default {
    position: relative;
    top: -20px;
    max-height: 54px;
}

nav.quick-nav-new .quick-nav-trigger {
    z-index: 10104;
}

.questionnaire-tab-content {
    border: 2px solid #dedede;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #337ab7;
    overflow: auto;
}

.questionnaire-tab .nav-pills > li > a, .questionnaire-tab .nav-tabs > li > a {
    border: 1px solid #ccc9c9;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
    margin: 0 3px 0 0;
}

.questionnaire-tab .tabbable-tabdrop .nav-pills, .questionnaire-tab .tabbable-tabdrop .nav-tabs {
    margin-bottom: 0;
}

.add-page-sidebar {
    background: #e9e9e9;
    border: 1px solid #d0d0d0;
    width: 20vw;
    height: 90vh;
    position: relative;
    float: left;

}

#sidebar-wrapper {
    padding: 10px 0;
    height: auto;
}

#questionnaire-content {
    border-left: 1px solid grey;
    background: #fff;
    border-right: 1px solid grey;
}

#sidebar-wrapper .mt-element-overlay .mt-overlay-1 {
    height: 115px;
}

/* Sidebar Styles */

.add-new-page .caption a {
    color: #fff;
    text-decoration: none;
}

.collapse-arrow {
    margin: -20px;
    position: absolute;
    top: 189px;
}

.collapse-arrow a.btn, .collapse-arrow a .fa {
    padding: 10px 0 !important;
    font-size: 20px;
}

.topPane {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.feedback-icon .fa {
    font-size: 30px;
    margin: 10px 0 0;
}

.footer-view-icons {
}

.middle-content {
    border: 1px solid #dedede;
    height: 100vh;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 90px);
    overflow: auto;
}

.main {
    display: flex;
    flex-grow: 1;
}

.col1 {
    flex-grow: 1;
    margin: 0 25px 0 25px;
    position: relative;
}

.col2 {
    width: 300px;
}

.col3 {
    width: 300px;
}

@media (max-width: 640px) {
    main {
        flex-direction: column;
    }

    .col2, .col3 {
        width: auto;
        height: 50px;
    }
}

.outer-container {
    height: 100vh;
    overflow-x: auto;
}

.page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: none;
}

.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: -1px 0;
}

.page-setting {
    height: 100vh;
}

.add-new-page .portlet.box > .portlet-body {

    max-height: 350px;
    padding: 10px;
    overflow-y: scroll;
}

.grouping-tree .portlet.box > .portlet-body {
    max-height: 300px;
    overflow-y: scroll;
}

hr {
    border-top: 2px solid #333;
}

.page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: none;
}

.add-new-page .portlet.box > .portlet-body {
    max-height: 350px;
    overflow-y: scroll;
}

.grouping-tree .portlet.box > .portlet-body {
    max-height: 300px;
    overflow-y: scroll;
}

hr {
    border-top: 2px solid #333;
}

/*css for slideup and down effect*/

@keyframes expanded {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        height: auto;
    }
}

@keyframes collapsed {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        height: 0;
    }
}

.portlet-body {
    overflow: hidden;
    height: auto;
}

.expanded {
    animation-iteration-count: 1;
    animation: expanded 1s forwards;

}

.collapsed {
    animation-iteration-count: 1;
    animation: collapsed 1s forwards;
    height: auto;
}

/*settings page css*/
.page-setting {
    height: 100vh;
}

.portlet-body .actions {
    float: right;
    display: inline-block;
    padding: 0;
}

.portlet.box > .portlet-body {
    height: auto;
    overflow: hidden;
}

.caption h4 {
    margin-top: 0;
}

.nopadding {
    padding: 0 !important;
}

.right-align {
    text-align: right;
}

.portlet-body .form-group {
    height: auto;
    overflow: hidden;
}

.portlet-body .form-group span {
    font-size: 12px;
}

.action.btn-icon-only {
    width: 30px;
    height: 30px;
}

/*tabbing css*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom: 4px solid #36c6d3;
    border-top: none;
    border-right: none;
    border-left: none;
}

ul.nav-tabs > li.nav-item > a:hover {
    background: transparent;
    border-bottom: 4px solid #9fe4ea;
    border-top: none;
    border-right: none;
    border-left: none;
}

.nested-nav-item {
    position: relative;
}

.nested-nav-item .arrow:before {
    float: right;
    width: 20px;
    text-align: center;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\F104";
    font-weight: 300;
    text-shadow: none;
    position: absolute;
    top: 4px;
    color: #606C7D;
    right: 14px;
    cursor: pointer;
}

.nested-nav-item .arrow.open:before {
    content: "\F107";
}

/*css for rightslider button*/
.collapse-arrow-right .slidebtn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 1px 12px;
}

.mt-element-overlay .page-thumbnail-text {
    padding-top: 70px;
}

.mt-element-overlay .copy-delete-icon {
    padding: 7px;
}

.mt-element-overlay .page-thumbnail-box {
    border: 1px solid;
}

.collapse-arrow-right {
    position: absolute;
    top: 12em;
    right: -18px;
}

/*css for delete popup*/
.content-wrapper .modal-header {
    padding: 5px;
}

.delete-msg {
    margin: 0 0 10px 0;
    padding: 0 0 0 28px;
    font-weight: bold;
}

.delete-msg span {
    padding: 0 0 0 5.5em;
}

.modal .modal-header .close {
    margin: 5px 5px 0 0 !important;
}

.bootstrap-switch-container[style] {
    display: inline-flex;
}

/*css for questions screen */
.question-wrapper {
    border: 1px solid #ccc;
    margin: 10px;
}

.menuicon {
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
    padding: 6px 14px;
    border-radius: 25px;
    float: right;
    margin: 18px 0 0 0;
    cursor: pointer;
}

.compact {
    margin: 10px;
}

/* solved bug css*/
.input-group-btn .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    box-shadow: none;
}

.page-content-white .page-title {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.img-square {
    border-radius: 0;
    padding: 8px 1px;
}

nav.quick-nav-new .quick-nav-bg-new {
    top: 6px;
    right: 5px;
    width: 50px;
    height: 50px;
}

.answer-block {
    padding: 7px 0 0 36px;
    cursor: pointer;
}

.upload-image {
    padding: 15px 0 0 0;
    margin: 14px 34px;
}

.align-addbtn {
    position: relative;
    top: 6px;
}

.img-box {
    margin: 25px 0;
}

.round-btn {
    border: 1px solid #FFF;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 3px 2px;
    border-radius: 30px;
}

.round-btn-plus {
    border: 1px solid #FFF;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 30px;
}

.round-btn-folder {
    border: 1px solid #FFF;
    padding: 4px 3.3px 3px 4px;
    margin: 0 4px !important;
    border-radius: 30px;
}

.action .new-btn-icon {
    height: 26px;
    width: 26px;
    padding: 4px 0 5px 1px !important;
}

.no-top-margin {
    margin-top: 0 !important;
}
