@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/font-awesome/css/font-awesome.css");
@import url("../node_modules/ng2-toastr/bundles/ng2-toastr.min.css");
@import url("./styles/layout/layout.min.css");
@import url("./styles/layout/themes/darkblue.min.css");
@import url("./styles/layout/custom.min.css");
@import url("./styles/global/plugins/simple-line-icons/simple-line-icons.min.css");
@import url("./styles/global/components-md.min.css");
@import url("./styles/global/boostrap-switch.css");

.nav-item ul.sub-menu {
    display: none;
}

.nav-item.open ul.sub-menu {
    display: block;
}

.round-button {
    width: 134px;
    margin-top: 100px;
    text-align: center;
}

.round-button-circle {
    background: #4679bd none repeat scroll 0 0;
    border: 10px solid #cfdcec;
    border-radius: 50%;
    box-shadow: 0 0 3px #808080;
    height: 130px;
    overflow: hidden;
    width: 130px;
}

.round-button-circle:hover {
    background: #30588e;
}

.round-button a {
    color: #e2eaf3;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.round-button1 {
    width: 134px;
    text-align: center;
}

.round-button-circle1 {
    background: #4679bd none repeat scroll 0 0;
    border: 10px solid #cfdcec;
    border-radius: 50%;
    box-shadow: 0 0 3px #808080;
    height: 130px;
    overflow: hidden;
    width: 130px;
}

.round-button-circle1:hover {
    background: #30588e;
}

.round-button1 a {
    color: #e2eaf3;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.page-content-wrapper .page-content {
    min-height: calc(100vh - 50px - 33px);
}

.portlet-box {
    border: 1px solid grey;
    width: 300px;
    padding: 50px;
    margin-top: 100px;
}

.theme-panel > .toggler, .theme-panel > .toggler-close {
    top: 60px !important;
}

.page-footer .page-footer-inner {
    float: none !important;
}

.page-footer {
    text-align: center !important;
}

.page-logo .logo-default {
    position: relative;
    top: -20px;
    max-height: 54px;
}

.quick-nav-trigger {
    z-index: 10104;
}
.questionnaire-main {
}
.questionnaire-tab {
}
.questionnaire-tab-content {
    border: 2px solid #dedede;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #337ab7;
    overflow: auto;
}
.questionnaire-tab .nav-pills > li > a, .questionnaire-tab .nav-tabs > li > a {
    border: 1px solid #ccc9c9;
    border-radius: 3px 3px 0 0;
    border-bottom: 0px;
    margin: 0 3px 0 0;
}
.questionnaire-tab .tabbable-tabdrop .nav-pills, .questionnaire-tab .tabbable-tabdrop .nav-tabs {
    margin-bottom:0;
}

.add-page-sidebar {
    background: #e9e9e9;
    border: 1px solid #d0d0d0;
    width: 20vw;
    height: 90vh;
    position: relative;
    float:left;

}
#sidebar-wrapper {
    padding: 10px 0;
    height:100%;
    height:100vh;
}
#questionnaire-content {

    border-left: 1px solid grey;
    background: #fff;

}
#sidebar-wrapper .mt-element-overlay .mt-overlay-1 {    height: 115px;
}


/* Sidebar Styles */

.add-new-page .caption a {
    color:#fff; text-decoration:none;
}
.collapse-arrow {
    margin: -20px;
    position: absolute;
    top: 200px;
}
.collapse-arrow a.btn, .collapse-arrow a .fa {padding: 10px 0 !important; font-size:20px;
}
.topPane {
    width:100%;
    padding: 10px;
    border-bottom:1px solid grey;
}
.feedback-icon .fa{    font-size: 30px;
    margin: 10px 0 0;
}
.footer-view-icons {
}
.middle-content {
    border: 1px solid #dedede;
    height:100%;
    height:100vh;
}
.mobile-preview {
}
.page-setting {
    height:100%;
    height:100vh;
}
.add-new-page .portlet.box>.portlet-body{    max-height:350px;
    overflow-y: scroll;}
.grouping-tree .portlet.box>.portlet-body{    max-height:300px;
    overflow-y: scroll;}
hr {
    border-top: 2px solid #333;
}
.page-sidebar-menu.page-sidebar-menu-closed>li:hover {
    box-shadow: none;
}
