@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/font-awesome/css/font-awesome.css");
@import url("../node_modules/ng2-toastr/bundles/ng2-toastr.min.css");
@import url("./styles/layout/layout.min.css");
@import url("./styles/layout/themes/darkblue.min.css");
@import url("./styles/layout/custom.min.css");
@import url("./styles/global/plugins/simple-line-icons/simple-line-icons.min.css");
@import url("./styles/global/components-md.min.css");
@import url("./styles/global/boostrap-switch.css");

.nav-item ul.sub-menu {
    display: none;
}

.nav-item.open ul.sub-menu {
    display: block;
}

.round-button {
    width: 134px;
    margin-top: 100px;
    text-align: center;
}

.round-button-circle {
    background: #4679bd none repeat scroll 0 0;
    border: 10px solid #cfdcec;
    border-radius: 50%;
    box-shadow: 0 0 3px #808080;
    height: 130px;
    overflow: hidden;
    width: 130px;
}

.round-button-circle:hover {
    background: #30588e;
}

.round-button a {
    color: #e2eaf3;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.round-button1 {
    width: 134px;
    text-align: center;
}

.round-button-circle1 {
    background: #4679bd none repeat scroll 0 0;
    border: 10px solid #cfdcec;
    border-radius: 50%;
    box-shadow: 0 0 3px #808080;
    height: 130px;
    overflow: hidden;
    width: 130px;
}

.round-button-circle1:hover {
    background: #30588e;
}

.round-button1 a {
    color: #e2eaf3;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.page-content-wrapper .page-content {
    min-height: calc(100vh - 50px - 33px);
}

.portlet-box {
    border: 1px solid grey;
    width: 300px;
    padding: 50px;
    margin-top: 100px;
}

.theme-panel > .toggler, .theme-panel > .toggler-close {
    top: 60px !important;
}

.page-footer .page-footer-inner {
    float: none !important;
}

.page-footer {
    text-align: center !important;
}

.page-logo .logo-default {
    position: relative;
    top: -20px;
    height: 75px;
}

.quick-nav-trigger {
    z-index: 10104;
}

.questionnaire-main {
}

.questionnaire-tab {
}

.questionnaire-tab-content {
    border: 2px solid #dedede;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #337ab7;
    min-height: 500px;
}

.questionnaire-tab .nav-pills > li > a, .questionnaire-tab .nav-tabs > li > a {
    border: 1px solid #ccc9c9;
    border-radius: 3px 3px 0 0;
    border-bottom: 0px;
    margin: 0 3px 0 0;
}

.questionnaire-tab .tabbable-tabdrop .nav-pills, .questionnaire-tab .tabbable-tabdrop .nav-tabs {
    margin-bottom: 0;
}

.add-page-sidebar {
    background: #e9e9e9;
    border: 1px solid #d0d0d0;
    position: relative;
    float: left;

}

/* Toggle Styles */
#questionnaire-wrapper {
    padding-left: 250px;
}


#sidebar-wrapper {
    z-index: 1000;
    position: absolute;

    width: 250px;

    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 20px 0;
}

#questionnaire-content {
    width: 100%;
    position: relative;
    padding: 15px;
    border-left: 1px solid grey;
    background: #fff;

}

/* Sidebar Styles */

@media (min-width: 768px) {
    #questionnaire-wrapper {
        padding-left: 250px;
    }


    #sidebar-wrapper {
        width: 250px;
    }


    #questionnaire-content {
        padding: 0px 20px 20px 20px;
        position: relative;
        margin-right: 0;
        border-left: 1px solid grey;
    }
}

#questionnaire-tab {
    position: relative;
}

.add-new-page .caption a {
    color: #fff;
    text-decoration: none;
}

.collapse-arrow {
    margin: -20px;
    position: absolute;
    top: 200px;
}

.collapse-arrow a.btn, .collapse-arrow a .fa {
    padding: 10px 0 !important;
    font-size: 20px;
}

.topPane {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.feedback-icon .fa {
    font-size: 30px;
    margin: 10px 0 0;
}

.footer-view-icons {
}

.middle-content {
    border: 1px solid #dedede;
    min-height: 600px;
}